[submodule "submodules/quickstart-microsoft-utilities"]
	path = submodules/quickstart-microsoft-utilities
	url = git@github.com:aws-quickstart/quickstart-microsoft-utilities.git
[submodule "quickstart-aws-vpc"]
	path = quickstart-aws-vpc
	url = https://github.com/aws-quickstart/quickstart-aws-vpc.git
